html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.img-flex {

}

h2 {
  font-size: 4rem;
  font-style: bold;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.banner {

}
