html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {

}

img {
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.banner {
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
  position: absolute;
}
